.container {
  width: 100%;
  height: 5rem;
  background-color: var(--color-bar);
}
.container.dark {
  background-color: var(--color-bar-dark);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.new {
  border: 2px solid var(--color-btn);
  width: 60%;
  height: 60%;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  font-size: 1rem;
}
.new:focus {
  outline: none;
}
.new.dark {
  border: 2px solid var(--color-btn-dark);
}

.addBtn {
  border: 2px solid var(--color-btn);
  border-radius: 0.25rem;
  padding: 0;
  width: 25%;
  height: 60%;
  font-size: 1rem;
  background-color: var(--color-btn);
  color: #ffffff;
}
.addBtn.dark {
  background-color: var(--color-btn-dark);
  border: 2px solid var(--color-btn-dark);
}
